<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for Familia in familiares%}
        <h1>Su nombre es: {{Familia.nombre}}</h1>
        <h1>Nacio el dia: {{Familia.nacimiento}}</h1>
        <h1>Su nombre es: {{Familia.edad}}</h1>
        <h1>es mi: {{Familia.parentesco}}</h1>
    {%endfor%}
</body>
</html>
